/* CSS Document */

body{
	background-color:#000000;
	/*background-image:url(img/bottom_fire.jpg);
	background-position:center bottom;
	background-repeat:no-repeat;*/
	margin:0;
	padding:0;
}

#logo{
	margin-left:23px;	
}

h1{
	color:#BBBBBB;
	font-family:Trebuchet MS;
	font-size:20px;
	margin:50px 0px 50px 50px;
}

h2{
	color:#BBBBBB;
	font-family:Trebuchet MS;
	font-size:13px;
	margin:0px 0px 20px 50px;
}

hr{
	border:0px;
	height:5px;
	background-image:url(img/dot.jpg);
	background-repeat:repeat-x;
	margin:0px 50px 20px 50px;
}

.sort_list{
	padding:5px;
	margin:5px;
	border:1px solid #252525;
	height:385px;
	background-color:#0F0F0F;
	float:left;
	width:250px;
	overflow-x:hidden;
	overflow-y:scroll;
}

.sort_list li{
	padding:5px;
	margin:2px;
	border:1px dotted #252525;
	list-style:none;
	font-family:verdana;
	font-size:10px;
	color:#F47C20;
	cursor:move;
	height:15px;
}

.sort_list .item_c1{
	float:left;	
	width:137px;
}

.sort_list .item_c2{
	float:left;
}

.sort_list .item_options{
	border:0px;
	width:80px;	
	background-color:#000;
	color:#F47C20;
	font-size:10px;
}

.txt{
	padding:5px;
	margin:5px;
	border:1px solid #252525;
	height:150px;
	background-color:#313131;
	width:100%;
	color:#CCC;
}

#lists_container{
	float:left;
	width:550px;
	/*border:1px solid #033;*/
	margin:0px 0px 0px 50px;
}

#textareas_container{
	float:left;
	width:610px;
	/*border:1px solid #033;*/
}

#description{
	margin:0 50px 20px;
	padding:5px;
	clear:both;
	height:50px;
	
	color:#BBBBBB;
	font-family:Trebuchet MS;
	font-size:12px;
}



.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
